/* Basic style */
body {
    font-family: Georgia;
    color: #2D1E17;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

a{
    text-decoration: none;
    color:#2D1E17;
}

a:hover{
    font-weight: bold;
}

.background{
    background-color:#F5F5F5;
}

section{
    margin:5% 10%;
    padding:2%;
    padding-bottom:5%;
}

.section-header{
    font-size:30px;
    text-align:center;
    margin-bottom:5%;
}

.subtitle{
    font-weight:bold;
}

@media screen and (max-width: 980px) {
    section{
        margin:2% 5%;
        padding:2%;
        padding-bottom:5%;
    }
    body {
        font-size: 35px;
    }
    .section-header{
        font-size:45px;
    }
    nav ul li {
        font-size:27px;
    }
}
/* Header */

.intro{
    position:relative;
    text-align: center;
}
#intro-text{
    position: absolute;
    top: 1%;
    left: 5%;
    font-size: 100px;
    color: black;
    text-align:left;
}
header img{
    width:100%;
    height: 800px;
}
.current-page{
    font-weight:bold;
}

nav {
    list-style-type: none;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}

nav ul li {
    display: inline;
    margin-right: 50px;
    font-size:20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}
#name {
    color: black;
    text-decoration: none;
    font-weight:lighter;
    font-size: 50px;
    float:inline-end;
    margin-right:5%;
}
@media screen and (max-width: 980px) {
    #intro-text{
        position: absolute;
        top: 1%;
        left: 5%;
    }
}


/* SECTION 1 */
.chapter{
    width:320px;
    height: 450px;
    background-color:#a6948623;
    align-items:center;
    margin:5%;
    margin-top: 15%;
    border-radius: 2%;
    box-shadow:5px 3px 5px #a3928660;
}
.learn-modules img{
    width: 285px;
    height: 285px;
    margin:10%;
}
@media screen and (max-width: 980px) {
    .chapter{
        width:200px;
        height: 300px;
        background-color:#a6948623;
        align-items:center;
        margin:10%;
        margin-top: 15%;
        border-radius: 2%;
        box-shadow:5px 3px 5px #a3928660;
    }
    .learn-modules img{
        max-width: 100px;
        max-height: 100px;
        margin:5%;
    }
}
.modules {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.modules div{
    display: flex;
    flex-direction: column;
}

.chapter:hover{
    font-weight: bold;
    background-color:#A39286;
}

/* Footer */
footer {
    color: rgb(68, 67, 67);
    text-align: center;
    font-size:15px;
    padding:2%;
}